
<ion-header>
  <ion-toolbar>
    <ion-title>Informacion</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <body>
  
  <div class="w3-container w3-teal">
    <h1>Nosotros</h1>
  </div>
  
  <img src="https://i.pinimg.com/originals/89/6d/ec/896deccac3e230b139cbceea95832559.gif" alt="Car" style="width:100%">
  
  <div class="w3-container">
    <p>Una tienda virtual que espera poder, darte el placer mas profundo para tus oidos ven y disfruta con nosotros  </p>
  </div>
  <ion-item href="#">
    <ion-icon name="wine" slot="start"></ion-icon>
    <ion-label>volver</ion-label>
  </ion-item>
  
  
  <div class="w3-container w3-teal">
    <p>My footer information</p>
  </div>
  
  </body>
</ion-content>
