<ion-app>
<ion-menu menuId="main-menu"content-id="main" >
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-list>

      <ion-menu-toggle>
        <ion-item [routerLink]="['/home']" routerLinkActive="router-link-active" >
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
      </ion-menu-toggle>

    <ion-menu-toggle>
      <ion-item [routerLink]="['/contacto']" routerLinkActive="router-link-active" >
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-item>
    </ion-menu-toggle>
  
    <ion-menu-toggle>
      <ion-item [routerLink]="['/informacion']" routerLinkActive="router-link-active" >
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Informacion</ion-label>
      </ion-item>
    </ion-menu-toggle>

   </ion-list>
  </ion-content>






</ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
