<ion-app>
<ion-menu menuId="main-menu"content-id="main" >
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-list>
  <ion-item>
    <ion-icon name="musical-notes-outline" slot="start"></ion-icon>
    <ion-label>Musica</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="videocam-outline" slot="start"></ion-icon>
    <ion-label>Video</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="images-outline" slot="start"></ion-icon>
    <ion-label>Foto</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="settings-outline" slot="start"></ion-icon>
    <ion-label>Configuracion</ion-label>
  </ion-item>

   </ion-list>
  </ion-content>
  
</ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
