<ion-header>
  <ion-toolbar>
    <ion-title>Música</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- Second Photo Grid-->
 

 <div class="w3-row-padding">
  <div class="w3-third w3-container w3-margin-bottom">
    <img src="/w3images/p1.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b>Lorem Ipsum</b></p>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>
  </div>
  <div class="w3-third w3-container w3-margin-bottom">
    <img src="https://i.pinimg.com/originals/d2/b5/ae/d2b5ae2ce9b292d37083d87d1d5b37bf.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b>Lorem Ipsum</b></p>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>
  </div>
  <div class="w3-third w3-container">
    <img src="/w3images/p3.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b>Lorem Ipsum</b></p>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>
  </div>
</div>


</ion-content>
