<ion-header>
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Marvin Cáceres</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="assets/img/avatar1.png"></ion-img>
    </ion-card-content>


    <ion-card-header>
      <ion-card-title class="ion-text-center">Damaris Martínez</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="assets/img/avatar2.png"></ion-img>
    </ion-card-content>
  

    <ion-card-header>
      <ion-card-title class="ion-text-center">David Alvarado</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="assets/img/avatar3.png"></ion-img>
    </ion-card-content>
</ion-card>
<center>
 <!-- Contact Section -->
 <div class="w3-container w3-padding-large w3-grey">
  <h4 id="contact"><b>Contacto</b></h4>
  <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
    <div class="w3-third w3-dark-grey">
      <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
      <p>email@email.com</p>
    </div>
    <div class="w3-third w3-teal">
      <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
      <p>Honduras, CA</p>
    </div>
    <div class="w3-third w3-dark-grey">
      <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
      <p>98791419</p>
    </div>
  </div>
  <hr class="w3-opacity">
  <form action="/action_page.php" target="_blank">
    <div class="w3-section">
      <label>Name</label>
      <input class="w3-input w3-border" type="text" name="Name" required>
    </div>
    <div class="w3-section">
      <label>Email</label>
      <input class="w3-input w3-border" type="text" name="Email" required>
    </div>
    <div class="w3-section">
      <label>Message</label>
      <input class="w3-input w3-border" type="text" name="Message" required>
    </div>
    <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Send Message</button>
  </form>
</div>

</center>
</ion-content>
