<ion-header>
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Marvin Cáceres</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="assets/img/avatar1.png"></ion-img>
    </ion-card-content>


    <ion-card-header>
      <ion-card-title class="ion-text-center">Damaris Martínez</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="assets/img/avatar2.png"></ion-img>
    </ion-card-content>
  

    <ion-card-header>
      <ion-card-title class="ion-text-center">David Alvarado</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="assets/img/avatar3.png"></ion-img>
    </ion-card-content>
</ion-card>

</ion-content>
