<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="logo-apple"></ion-icon> iMedia</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>

    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-img src="assets/img/Capitan.png"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/Spiderman.png"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/img/Toy_Story.png"></ion-img>
      </ion-slide>
    </ion-slides>

  <ion-tabs>
    
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/music']">
        <ion-icon name="musical-note-outline"></ion-icon>
        <ion-label>Música</ion-label>
      </ion-tab-button>
    

      <ion-tab-button [routerLink]="['/movies']">
        <ion-icon name="film-outline"></ion-icon>
        <ion-label>Películas</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/games']">
        <ion-icon name="game-controller-outline"></ion-icon>
        <ion-label>Juegos</ion-label>
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>

  
  
  

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
     
      <h3>Productos</h3>
      <p></p>
    </div>
    <div class="w3-quarter">
      <a href="https://www.tventas.com/gamers/24859-audifonos-gamer-hp-dhe-8011um-6972431712088.html"><img src="https://www.tventas.com/img/p/1/2/1/1/7/7/0/5/12117705-large_default.jpg"></a>
      <h3>Audifonos Inalambricos</h3>
     
      <p>500 Lps</p>
    </div>
    <div class="w3-quarter">
      <a href="https://www.liverpool.com.mx/tienda/nintendo/CAT5030010"><img src="https://assetspwa.liverpool.com.mx/assets/digital/landing/videojuegos/img/blp-videojuegos-nintendo-accesorios-230821.jpg"></a>
      <h3>Consolas de Videojuegos</h3>
      <p>200 $</p>
      
    </div>
    <div class="w3-quarter">
      <h3>Neflix las mejores peliculas</h3>
      <a href="https://www.fotogramas.es/noticias-cine/g39369843/peliculas-netflix-buenas/"><img src="https://hips.hearstapps.com/vidthumb/images/netflix-mejores-peliculas-2022-1645015519.jpg?crop=1.00xw%3A1.00xh%3B0%2C0&resize=480%3A270" ></a>
    </div>
  </div>
  
</ion-content>


