<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="always"></ion-searchbar>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="musical-notes-outline"></ion-icon>
        <ion-label>Musica</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon name="videocam-outline"></ion-icon>
        <ion-label>Video</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Biblioteca</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>







</ion-content>
